  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Sample Service
    </h1> 
    <p >
      This Rails Starter project lets you rapidly get started with GOV.UK services.
    </p>
    <button class="govuk-button" data-module="govuk-button">
    Start
    </button>

  </div>
</div>