// application.scss

$govuk-global-styles: true;
// Include images from /images/govuk-frontend and fonts from /fonts
$govuk-images-path: "assets/images/";
$govuk-fonts-path: "assets/fonts/";

@import "govuk-frontend/govuk/all";
